body{
	font-size: 16px;
	color: #fff;
	background-color: #0A7B83;
	font-family: 'Oxygen', sans-serif;
}
  
* {
	box-sizing: border-box;
}		

/*Navbar Styling*/

.navbar{
	background-color: #FFD265;
}

.headColor{
	color: red;
	font-weight: bolder;
	font-family: 'Stylish', sans-serif;
	font-size: 48px;
}

.tabStyle{
	background-color: red;
	color: white;
	font-weight: bolder;
}

.tabStyle:hover {
	background-color: #55CCD4;
	color: yellow;
	border: 2px solid black;
}

.nav-link{
	text-align: center;
}

.navbar-toggler:hover {
	background-color: #FF7417;
	color: yellow;
	border: 2px solid black;
}

/*Our Menu*/
.menu p{
	text-align: center;
	margin: 30px 0 50px 0;
	font-size: 64px;
	font-weight: bolder;
	font-family: 'Yellowtail', cursive;
	color: #F8E9A5;
}

/*Chicken Style*/
.chicken{
	color: black;
	background-color: white;
	padding: 30px;
	margin: 10px;
}

.chicken h3{
	font-weight: bolder;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Stylish', sans-serif;
	font-family: 'Yellowtail', cursive;
}

.chicken p{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 20px;
}

/*Beef Style*/
.beef{
	color: black;
	background-color: white;
	padding: 30px;
	margin: 10px;
}

.beef h3{
	font-weight: bolder;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Stylish', sans-serif;
	font-family: 'Yellowtail', cursive;
}

.beef p{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 20px;
}


/*Sushi Style*/
.sushi{
	color: black;
	background-color: white;
	padding: 30px;
	margin: 10px;
	margin-top: 20px;
}

.sushi p{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	font-size: 16px;
}


.sushi h3{
	font-weight: bolder;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Stylish', sans-serif;
	font-family: 'Yellowtail', cursive;
}

/*Top Button Styling*/
.topButton{
	float: right;
	padding: 15px 20px 15px 20px;
	background-color: red;
	border-radius: 50%;
}

.topButtonStyle span:hover{
	padding: 5px;
	color: black;
	text-decoration: none;
	background-color: #F8EA00;
}

.topButton span{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

/*Media Queries*/

@media(min-width:768px ){
      .navbar-toggler{
        display:none;
      }
      .mr-auto {
      	display: none; 
      }
    }